.charsheet {
	background: #FFF;
	min-width: 902px;
	width: 902px;
}

.sheet-grid {
	display: grid;
	column-gap: 5px;
	row-gap: 5px;
	justify-self: center;
	align-self: center;
	grid-template-columns: 225px 375px 300px;
}

.sheet-header {
	display: grid;
	grid-row: 1;
	grid-column: 1 / span 3;
	justify-self: stretch;
	align-self: stretch;
	grid-gap: 0px;
	background: #DDD;
	grid-column: 900px;
	grid-template-rows: repeat(3, 16px);
	border-top: 1px solid slategray;
	border-left: 1px solid slategray;
	border-right: 2px solid slategray;
	border-bottom: 2px solid slategray;
}

.sheet-header-row1 {
	display: grid;
	grid-row: 1;
	grid-template-columns: 40px 250px 37px 110px 40px 200px 57px auto;
}
.sheet-header-row2 {
	display: grid;
	grid-row: 2;
}
.sheet-header-row3 {
	display: grid;
	grid-row: 3;
	grid-template-columns: 50px 200px 40px 135px 40px 135px 70px auto;
}

.sheet-ability-scores {
	background: pink;
	display: grid;
	grid-column: 1;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 80px 36px 36px 36px 36px;
	grid-template-rows: repeat(7, 16px);
}

.sheet-saves-ac {
	background: limegreen;
	display: grid;
	grid-column: 2;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(12, 31px);
	grid-template-rows: repeat(7, 16px);
}

.sheet-attack-bonus {
	background: yellow;
	display: grid;
	grid-column: 3;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(7, 16px);
}

.sheet-table-header {
  text-align: center;
	background: #DDD;
}

.sheet-weapons {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 3;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 150px 53px 53px 50px 50px 40px 40px auto;
	grid-template-rows: repeat(8, 16px);
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}

.sheet-weapons .sheet-table-header, .sheet-weapons .sheet-ui {
	border-bottom: 1px solid slategray;
	border-left: 1px solid slategray;
}

.sheet-armor {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 4;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 150px 50px 65px 65px 55px 45px auto;
	grid-template-rows: repeat(6, 16px);
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}
.sheet-armor .sheet-table-header, .sheet-armor .sheet-ui {
	border-bottom: 1px solid slategray;
	border-left: 1px solid slategray;
}

.sheet-traits-abilities {
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 5;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(18, 16px);
	grid-auto-flow: column;
}
.sheet-traits-abilities .sheet-table-header, .sheet-traits-abilities .sheet-ui {
	border-bottom: 1px solid slategray;
	border-left: 1px solid slategray;
}

.sheet-equipment {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 6;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 170px 20px 170px 20px 30px 170px auto;
	grid-template-rows: 21px 21px repeat(28, 16px);
}

.sheet-carry-weight {
	background: burlywood;
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 7;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 90px 30px 90px 30px 90px 30px 90px 30px 120px;
	grid-template-rows: 22px
}

.sheet-skills {
	background: red;
	display: grid;
	grid-column: 3;
	grid-row: 3 / span 5;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 120px 30px 30px 30px 30px 69px;
	grid-template-rows: repeat(66, 16px)
}

.sheet-grid div {
	padding: 1px;
	border-radius: 1px;
	font-size: 12;
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.sheet-label {
	font-weight: bold;
	font-size: 14 !important;
	align-self: stretch;
}
.sheet-label-small {
	font-weight: bold;
	font-size: 11 !important;
	align-self: stretch;
}

.sheet-header input {
	background: #DDD;
	border-bottom: 1px solid slategray;
}

input {
	width: 100%;
	height: 14px;
	font-size: 11;
	border: none;
}

/* Header */
.sheet-label.sheet-charname { grid-column: 1 }
.sheet-ui.sheet-charname    { grid-column: 2 }

.sheet-label.sheet-race     { grid-column: 3 }
.sheet-ui.sheet-race        { grid-column: 4 }

.sheet-label.sheet-class    { grid-column: 5 }
.sheet-ui.sheet-class       { grid-column: 6 }

.sheet-label.sheet-religion { grid-column: 7 }
.sheet-ui.sheet-religion    { grid-column: 8 }

.sheet-label.sheet-height   { grid-column: 1 }
.sheet-ui.sheet-height      { grid-column: 2 }

.sheet-label.sheet-weight   { grid-column: 3 }
.sheet-ui.sheet-weight      { grid-column: 4 }

.sheet-label.sheet-sex      { grid-column: 5 }
.sheet-ui.sheet-sex         { grid-column: 6 }

.sheet-label.sheet-age      { grid-column: 7 }
.sheet-ui.sheet-age         { grid-column: 8 }

.sheet-label.sheet-alignment   { grid-column: 9 }
.sheet-ui.sheet-alignment      { grid-column: 10 }

.sheet-label.sheet-level   { grid-column: 11 }
.sheet-ui.sheet-level      { grid-column: 12 }

.sheet-label.sheet-xp   { grid-column: 13 }
.sheet-ui.sheet-xp      { grid-column: 14 }

.sheet-label.sheet-needed   { grid-column: 15 }
.sheet-ui.sheet-needed      { grid-column: 16 }

.sheet-label.sheet-speed   { grid-column: 17 }
.sheet-ui.sheet-speed      { grid-column: 18 }

.sheet-label.sheet-region   { grid-column: 1 }
.sheet-ui.sheet-region      { grid-column: 2 }

.sheet-label.sheet-eyes   { grid-column: 3 }
.sheet-ui.sheet-eyes      { grid-column: 4 }

.sheet-label.sheet-hair   { grid-column: 5 }
.sheet-ui.sheet-hair      { grid-column: 6 }

.sheet-label.sheet-appearance   { grid-column: 7 }
.sheet-ui.sheet-appearance      { grid-column: 8 }


.sheet-ui {
	border: 1px black;
}

/* Weapons */
.sheet-label.sheet-weapons-header { grid-column: 1; grid-row: 1 }
.sheet-ui.sheet-weapons1          { grid-column: 1; grid-row: 2 }
.sheet-ui.sheet-weapons2          { grid-column: 1; grid-row: 3 }
.sheet-ui.sheet-weapons3          { grid-column: 1; grid-row: 4 }
.sheet-ui.sheet-weapons4          { grid-column: 1; grid-row: 5 }
.sheet-ui.sheet-weapons5          { grid-column: 1; grid-row: 6 }
.sheet-ui.sheet-weapons6          { grid-column: 1; grid-row: 7 }
.sheet-ui.sheet-weapons7          { grid-column: 1; grid-row: 8 }

.sheet-label.sheet-tohit-header { grid-column: 2; grid-row: 1 }
.sheet-ui.sheet-tohit1          { grid-column: 2; grid-row: 2 }
.sheet-ui.sheet-tohit2          { grid-column: 2; grid-row: 3 }
.sheet-ui.sheet-tohit3          { grid-column: 2; grid-row: 4 }
.sheet-ui.sheet-tohit4          { grid-column: 2; grid-row: 5 }
.sheet-ui.sheet-tohit5          { grid-column: 2; grid-row: 6 }
.sheet-ui.sheet-tohit6          { grid-column: 2; grid-row: 7 }
.sheet-ui.sheet-tohit7          { grid-column: 2; grid-row: 8 }

.sheet-label.sheet-damage-header { grid-column: 3; grid-row: 1 }
.sheet-ui.sheet-damage1          { grid-column: 3; grid-row: 2 }
.sheet-ui.sheet-damage2          { grid-column: 3; grid-row: 3 }
.sheet-ui.sheet-damage3          { grid-column: 3; grid-row: 4 }
.sheet-ui.sheet-damage4          { grid-column: 3; grid-row: 5 }
.sheet-ui.sheet-damage5          { grid-column: 3; grid-row: 6 }
.sheet-ui.sheet-damage6          { grid-column: 3; grid-row: 7 }
.sheet-ui.sheet-damage7          { grid-column: 3; grid-row: 8 }

.sheet-label.sheet-crit-header { grid-column: 4; grid-row: 1 }
.sheet-ui.sheet-crit1          { grid-column: 4; grid-row: 2 }
.sheet-ui.sheet-crit2          { grid-column: 4; grid-row: 3 }
.sheet-ui.sheet-crit3          { grid-column: 4; grid-row: 4 }
.sheet-ui.sheet-crit4          { grid-column: 4; grid-row: 5 }
.sheet-ui.sheet-crit5          { grid-column: 4; grid-row: 6 }
.sheet-ui.sheet-crit6          { grid-column: 4; grid-row: 7 }
.sheet-ui.sheet-crit7          { grid-column: 4; grid-row: 8 }

.sheet-label.sheet-range-header { grid-column: 5; grid-row: 1 }
.sheet-ui.sheet-range1          { grid-column: 5; grid-row: 2 }
.sheet-ui.sheet-range2          { grid-column: 5; grid-row: 3 }
.sheet-ui.sheet-range3          { grid-column: 5; grid-row: 4 }
.sheet-ui.sheet-range4          { grid-column: 5; grid-row: 5 }
.sheet-ui.sheet-range5          { grid-column: 5; grid-row: 6 }
.sheet-ui.sheet-range6          { grid-column: 5; grid-row: 7 }
.sheet-ui.sheet-range7          { grid-column: 5; grid-row: 8 }

.sheet-label.sheet-wpnsize-header { grid-column: 6; grid-row: 1 }
.sheet-ui.sheet-wpnsize1          { grid-column: 6; grid-row: 2 }
.sheet-ui.sheet-wpnsize2          { grid-column: 6; grid-row: 3 }
.sheet-ui.sheet-wpnsize3          { grid-column: 6; grid-row: 4 }
.sheet-ui.sheet-wpnsize4          { grid-column: 6; grid-row: 5 }
.sheet-ui.sheet-wpnsize5          { grid-column: 6; grid-row: 6 }
.sheet-ui.sheet-wpnsize6          { grid-column: 6; grid-row: 7 }
.sheet-ui.sheet-wpnsize7          { grid-column: 6; grid-row: 8 }

.sheet-label.sheet-wpnwt-header { grid-column: 7; grid-row: 1 }
.sheet-ui.sheet-wpnwt1          { grid-column: 7; grid-row: 2 }
.sheet-ui.sheet-wpnwt2          { grid-column: 7; grid-row: 3 }
.sheet-ui.sheet-wpnwt3          { grid-column: 7; grid-row: 4 }
.sheet-ui.sheet-wpnwt4          { grid-column: 7; grid-row: 5 }
.sheet-ui.sheet-wpnwt5          { grid-column: 7; grid-row: 6 }
.sheet-ui.sheet-wpnwt6          { grid-column: 7; grid-row: 7 }
.sheet-ui.sheet-wpnwt7          { grid-column: 7; grid-row: 8 }

.sheet-label.sheet-wpnspecial-header { grid-column: 8; grid-row: 1 }
.sheet-ui.sheet-wpnspecial1          { grid-column: 8; grid-row: 2 }
.sheet-ui.sheet-wpnspecial2          { grid-column: 8; grid-row: 3 }
.sheet-ui.sheet-wpnspecial3          { grid-column: 8; grid-row: 4 }
.sheet-ui.sheet-wpnspecial4          { grid-column: 8; grid-row: 5 }
.sheet-ui.sheet-wpnspecial5          { grid-column: 8; grid-row: 6 }
.sheet-ui.sheet-wpnspecial6          { grid-column: 8; grid-row: 7 }
.sheet-ui.sheet-wpnspecial7          { grid-column: 8; grid-row: 8 }

.sheet-label.sheet-equipment-header { grid-column: 1 / span 7; grid-row: 1 }
