.charsheet {
	background: #FFF;
	min-width: 840px;
	width: 840px;
	padding: 0px !important;
}

.sheet-grid {
	display: grid;
	column-gap: 5px;
	row-gap: 5px;
	justify-self: center;
	align-self: center;
	grid-template-columns: 210px 348px 280px;
}

.sheet-header {
	display: grid;
	grid-row: 1;
	grid-column: 1 / span 3;
	justify-self: stretch;
	align-self: stretch;
	grid-gap: 0px;
	background: #DDD;
	grid-template-rows: repeat(3, 18px);
	border-top: 1px solid slategray;
	border-left: 1px solid slategray;
	border-right: 2px solid slategray;
	border-bottom: 2px solid slategray;
}

.sheet-header-row1 {
	display: grid;
	grid-row: 1;
	grid-template-columns: 40px 228px 37px 100px 40px 185px 57px auto;
}
.sheet-header-row2 {
	display: grid;
	grid-row: 2;
	grid-template-columns: 25px 54px 25px 55px 29px 56px 29px 56px 70px 59px 39px 59px 28px 54px 55px 55px 45px auto;
}
.sheet-header-row3 {
	display: grid;
	grid-row: 3;
	grid-template-columns: 50px 179px 40px 125px 38px 125px 76px auto;
}

.sheet-ability-scores {
	display: grid;
	grid-column: 1;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: auto;
	grid-template-rows: 18x auto;
}
.sheet-ability-scores-top {
	display: grid;
	grid-row: 1;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 38px 43px 43px 43px auto;
	grid-template-rows: auto;
	border-right: 1px solid slategray;
}

.sheet-ability-scores-table {
	display: grid;
	grid-row: 2;
	grid-auto-flow: row;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 38px 43px 43px 43px auto;
	grid-template-rows: repeat(6, 18px);
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}

.sheet-saves-ac {
	display: grid;
	grid-column: 2;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-rows: 72px 18px 18px 18px;
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}
.sheet-saves-ac-sec1 {
	grid-auto-flow: row;
	grid-row: 1;
	display: grid;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 60px 50px 45px 45px 45px 45px auto;
	grid-template-rows: repeat(4, 18px);
}

.sheet-saves-ac-sec2 {
	grid-auto-flow: row;
	grid-row: 2;
	display: grid;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 110px 64px 80px auto;
}

.sheet-saves-ac-sec3 {
	grid-auto-flow: row;
	grid-row: 3;
	display: grid;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(9, auto)
}

.sheet-saves-ac-sec4 {
	grid-auto-flow: row;
	grid-row: 4;
	display: grid;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(17, auto) 40px;
}

.sheet-attack-bonus {
	display: grid;
	grid-column: 3;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-rows: 18px 72px 36px;
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}

.sheet-attack-bonus-sec1 {
	display: grid;
	grid-row: 1;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: auto auto;
}

.sheet-attack-bonus-sec2 {
	display: grid;
	grid-row: 2;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: repeat(11, auto);
}

.sheet-attack-bonus-sec3 {
	display: grid;
	grid-row: 3;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 100px auto;
}


.sheet-table-header {
  text-align: center;
	background: #DDD;
}

.sheet-skills-explain {
  text-align: center;
	background: #DDD;
}

.sheet-table-subheader {
  text-align: center;
}

.sheet-weapons {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 3;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 164px 40px 43px 40px 50px 37px 30px auto;
	grid-template-rows: repeat(8, 18px);
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}

.sheet-ability-scores-top .sheet-ability-scores-header {
	border-top: 1px solid slategray;
	border-left: 1px solid slategray;
	text-align: center;
}

.sheet-ability-scores-table .sheet-ui,
.sheet-ability-scores-table .sheet-label,
.sheet-skills .sheet-label,
.sheet-carry-weight .sheet-label-small,
.sheet-skills .sheet-skills-explain,
.sheet-saves-ac .sheet-label,
.sheet-attack-bonus .sheet-label,
.sheet-weapons .sheet-table-header,
.sheet-armor .sheet-table-header,
.sheet-traits-abilities .sheet-table-header,
.sheet-equipment .sheet-table-header,
.sheet-skills .sheet-table-header,
.sheet-weapons .sheet-ui,
.sheet-armor .sheet-ui,
.sheet-traits-abilities .sheet-ui,
.sheet-equipment .sheet-ui,
.sheet-skills .sheet-ui,
.sheet-carry-weight .sheet-ui,
.sheet-attack-bonus .sheet-ui,
.sheet-saves-ac .sheet-ui {
	border-bottom: 1px solid slategray;
	border-left: 1px solid slategray;
}

.charsheet .sheet-notes .sheet-notes-header {
	grid-column: 1 / span 3;
	border-bottom: 1px solid slategray;
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	border-left: 1px solid slategray;
}
.charsheet .sheet-notes .sheet-notes-miscline-left {
	grid-column: 1;
	border-bottom: 1px solid slategray;
}
.charsheet .sheet-notes .sheet-notes-miscline-right {
	grid-column: 3;
	border-bottom: 1px solid slategray;
}

.sheet-armor {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 4;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 144px 47px 65px 65px 53px 30px auto;
	grid-template-rows: repeat(6, 18px);
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
}

.sheet-traits-abilities {
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 5;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 186px 186px auto;
	grid-template-rows: repeat(18, 18px);
	grid-auto-flow: column;
}

.sheet-equipment {
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 6;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 151px 28px 151px 28px 28px 151px auto;
	grid-template-rows: 21px 21px repeat(28, 18px);
	grid-auto-flow: column;
}

.sheet-carry-weight {
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 7;
	justify-self: stretch;
	align-self: center;
	grid-gap: 0px;
	grid-template-columns: 66px 35px 60px 35px 70px 35px 40px 35px 45px 35px 55px auto;
	grid-template-rows: 20px
}

.sheet-carry-weight .sheet-ui input {
	padding: 1px;
	border-bottom: 1px solid slategray;
}

.sheet-skills {
	border-top: 1px solid slategray;
	border-right: 1px solid slategray;
	display: grid;
	grid-column: 3;
	grid-row: 3 / span 5;
	justify-self: stretch;
	align-self: stretch;
	grid-gap: 0px;
	grid-template-columns: 123px 25px 9px 35px 9px 18px 9px 18px auto;
	grid-template-rows: repeat(65, 18px)
}

.sheet-notes {
	grid-row: 8;
	grid-column: 1 / span 3;
	display: grid;
	grid-template-columns: 410px auto 410px;
	grid-template-rows: repeat(26, 20px);
	grid-auto-flow: column;
}

.sheet-grid div {
	border-radius: 1px;
	font-size: 12px;
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.sheet-label {
	font-weight: bold;
	font-size: 14px !important;
	align-self: stretch;
}

.sheet-label-small {
	font-weight: bold;
	font-size: 11px !important;
	align-self: stretch;
}

.sheet-label-magic-item {
	font-weight: normal;
	font-size: 10px !important;
	align-self: stretch;
}

.sheet-label-skills {
	font-weight: bold;
	font-size: 13px !important;
	align-self: stretch;
}

.charsheet .sheet-equipment .sheet-label-magic-item input {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 10px !important;
	padding: 0px;
}

.sheet-equipment .sheet-label-magic-item {
	border-bottom: 1px solid slategray;
	border-left: 1px solid slategray;
}

.sheet-equipment .sheet-magic-item-description {
	border-bottom: 1px solid slategray;
	border-left: none
}

.charsheet .sheet-grid .sheet-header input {
	padding: 1px;
	background: #DDD;
	border-bottom: 1px solid slategray;
}

.charsheet .sheet-grid .sheet-carry-weight input {
	padding: 1px;
	border-bottom: 1px solid slategray;
}

.sheet-skill-miscline {
	grid-column: 1 / span 9;
}

.charsheet .sheet-grid .sheet-hideleft {
	border-left: none !important;
}

.charsheet .sheet-grid .sheet-italics {
	font-style: italic;
	font-weight: normal;
}

.charsheet .sheet-grid input {
	padding: 1px;
	width: 100%;
	height: 14px !important;
	font-size: 11px !important;
	border: none;
	text-align: center;
	background-color: #FFF;
}

.charsheet .sheet-notes input {
	text-align: left;
	padding: 1px;
	width: 100%;
	height: 18px !important;
	font-size: 13px !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sheet-label.sheet-equipment-header { grid-column: 1 / span 7; grid-row: 1 }
.sheet-label.sheet-equipment-subheader1 { grid-column: 1 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }
.sheet-label.sheet-equipment-subheader2 { grid-column: 2 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }
.sheet-label.sheet-equipment-subheader3 { grid-column: 3 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }
.sheet-label.sheet-equipment-subheader4 { grid-column: 4 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }
.sheet-label.sheet-equipment-subheader5 { grid-column: 5 / span 2 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }
.sheet-label.sheet-equipment-subheader6 { grid-column: 7 ; grid-row: 2 ; border-bottom: 1px solid slategray; border-left: 1px solid slategray; }

.sheet-skills-explain { grid-column: 2 / span 8; grid-row: 1 }

.sheet-saves-ac-misc-merge { grid-column: span 2 }
